################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FullscreenLock/v15
/.vs/FullscreenLock/v14
/FullscreenLock/obj
/FullscreenLock/bin
